.top{ position:reltive; width:935px; height:49px; background:url(/templates/grape/images/topbg.jpg) repeat;}
.sp1{float:left; color:#59493F;margin-top:10px;margin-left:20px;font-family:"Î¢ÈíÑÅºÚ"; font-size:20px; height:30px;}
.sp2{ float:right;margin-top:12px;color:#59493F;margin-right:20px;}


.left{ float:left; width:160px; height:292px;} 
.right{float:left;  margin-left:30px;margin-bottom:50px \9; margin-bottom:100px;}

