<style type="text/css">
   #newfoot a{
       color: #8e8e8e;
       font-size: 12px;
       line-height: 25px
   }
   #newfoot a:hover{
       color: orange;
   }
    #newfoot ul li{
        float: left;
        width: 200px;
        height: 70px
    }
    #newfoot ul{
        padding: 0px;
        padding: 0px;
    }
    #newfoot{
        padding:20px 30px
    }
</style>
<div  id="newfoot" style="width: 948px; height: 110px; background: #000000;margin: 0 auto">
    <ul style="width: auto;">
        <li>
           <a href="/index.php?action=page&return=aboutus">シャンハイタイムズについて</a><br/>
           <a href="/index.php?action=page&return=visit">アクセス</a>
        </li>
        <li>
            <a href="/index.php?action=page&return=service">サービス一覧</a><br/>
            <a href="/index.php?action=page&return=price">価格について</a><br/>
            <a href="/index.php?action=page&return=vip">法人会員を申し込む</a>

        </li>
        <li>
           <a href="/index.php?action=page&return=treaty">会員規約</a><br/>
            <a href="/index.php?action=page&return=QA">よくある質問</a><br/>
            <script src="http://s14.cnzz.com/stat.php?id=3393703&web_id=3393703&show=pic" language="JavaScript"></script>
        </li>
    </ul>
</div>