<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会員規約
</title>
<link rel="stylesheet" type="text/css" href="<{$public}>Public/css/style.css"/>
<link rel="stylesheet" type="text/css" href="<{$public}>Public/css/login.css"/>
<style type="text/css">
#loginreg{
    height:auto;
}

#logincenter{
	background:url("<{$public}>images/center.jpg") repeat-y;
	width:900px;
padding:20px 30px;
}
#logincenter h1{
	font-size:20px;
	font-weight:bold;
}
#logincenter #content1{
	padding:15px 40px 40px 40px;
	width:820px;
}
</style>
</head>

<body>
<div id="con">
    <div id="content" style="background: #d7d7d7">

        <div style="width: 1038px;margin:0 auto; background: url(<{$public}>images/bs.jpg) repeat-y">
    	<div id="center"  style="background: #ffffff">
            <div id="head" style="width:1004px; height: 250px;padding-left: 4px;">
                <{include file="head.html"}>
            </div>
        	<div id="loginreg">
            <img src="<{$public}>images/top.jpg"/>
                <div id="logincenter">
                	<h1>
                   会員規約
                    </h1>
                    <br/>
                    <div id="content1">
                    	
                        
会員向けライブラリー 会員規約<br />
第１条（会員規約）<br />
1. 本会員規約は、上海日広（以下「運営者」という）が運営するインターネット上のWebサイト「シャンハイタイムズ」（以下「本サイト」という）において、各法人向け有料サービスをご利用いただく際の、法人会員（以下「会員」という）と運営者間の一切の関係に適用されます。<br /><br />

第２条（会員）<br />
1. 会員とは、所定の登録方法により、本サイトにおいて法人会員登録を行い、運営者の承諾をもって会員資格を取得するものとします。<br /><br />

第３条（変更届け）<br />
1. 会員は、登録内容に変更が生じた場合、すみやかに運営者に通知するものとします。<br />
2. 前項通知がなかったことで会員が不利益を被ったとしても、運営者は一切その責任を負わないものとします。<br /><br />

第４条（会員からの解約）<br />
1. 会員は、全てに法人向け有料サービスの利用を終了する場合は、所定の方法で運営者に通知するものとします。なお、第８条（サービスの運用）の第３項に定める利用期間中の解約はできないものとします。<br /><br />

第５条（譲渡の禁止）<br />
1. 会員は、会員として有する権利を第三者に譲渡することはできないものとします。<br /><br />

第６条（規約の範囲と変更）<br />
1. 本規約は、本サイトで提供する各法人向け有料サービスの利用に関し、運営者と会員に適用します。<br />
2. 会員は、その法人に所属する構成員等（以下「利用者」という）のうち、運営者の定める方法によりログインした場合に限り、法人向け有料サービスを利用することができるものとし、その法人の責任において利用者に本規約を遵守させるものとします。<br />
3. 運営者は、会員の承諾を要することなく、本規約を変更できるものとし、本規約を変更した場合には、本サイト内に掲示または会員に通知するものとし、会員は異議なく承諾するものとします。<br /><br />

第７条（会員ID?パスワードの発行と管理）<br />
1. 運営者は、会員に対し、会員IDとパスワードを発行するものとします。<br />
2. 会員は、会員固有の会員IDとパスワードの管理及び使用について一切の責任を持つものとします。<br />
3. 会員は、会員IDとパスワードを失念した場合や盗用された場合は、すみやかに運営者に通知するものとします。<br /><br />

第８条（法人向け有料サービス）<br />
1. 会員は、本サイトで提供する各法人向け有料サービスについて、所定の方法で申し込み、利用することができます。<br />
2. 運営者は、各法人向け有料サービスの運用方法を定めるものとし、会員の利用者は、その運用方法に従って各法人向け有料サービスを利用するものとします。なお、運用方法は本規約の一部を構成するものとします。<br />
3. 各法人向け有料サービスは、前項運用方法とともに利用期間の単位が定められており、会員からの利用期限の３０日前までに利用終了の申し出がない場合、自動的に利用期間の単位を延長するものとします。<br /><br />

第９条（利用料等）<br />
1. 各法人向け有料サービスの利用料は、運営者または有料サービスの提供者が定めるものとします。<br />
2. 各法人向け有料サービスの利用料は、会員に運営者が発行する請求書に基づき、運営者が別途定める方法により消費税相当額を含め、運営者に支払うものとします。なお、支払いに必要な手数料その他の費用は、全て会員の負担とします。<br />
3. 運営者は、第１５条（サービスの中止）の第２項に定める場合を除き、既に受領した料金及び消費税相当額は一切返還しないものとします。<br /><br />

第１０条（延滞利息）<br />
1. 会員が利用料その他の債務の支払期日を過ぎてもなお履行しない場合、会員は支払期日の翌日から支払いの日の前日までの日数に、年１４．６％の割合で計算される金額を延滞利息として、利用料とその他の債務と一括して、運営者が指定した日までに指定する方法で支払うものとします。<br />
2. 前項支払いに必要な手数料その他の費用は、全て会員の負担とします。<br /><br />

第１１条（著作権、商標等の私的利用限定）<br />
1. 本サイトおよび法人向け有料サービスに含まれるデータ、情報、文章、発言、ソフトウェア等一切の著作物に関する著作権は運営者または有料サービスの提供者他第三者に帰属するものです。会員及び会員の利用者は、これらを著作権法で認められた私的利用の範囲を超える複製のために利用することはできません。<br />
2. 本サイトに含まれる一切の商標、サービスマーク、ロゴ等は運営者または有料サービスの提供者他第三者の登録商標または商標です。会員及び会員の利用者は自らの利用以外の目的で無断に利用することはできません。<br /><br />

第１２条（禁止事項）<br />
1. 会員は、本サイト及び法人向け有料サービスの利用に関して以下の行為を行わないものとします。<br />
(１) 運営者もしくは他の者の著作権、商標権等の知的財産権を侵害する行為、または侵害するおそれのある行為。<br />
(２) 他の者の財産、プライバシーもしくは肖像権を侵害する行為、または侵害するおそれのある行為。<br />
(３) 運営者または他の者の情報を改ざん、消去する行為。<br />
(４) 他の者になりすまして本サイトを利用する行為。<br />
(５) 有害なコンピュータプログラム等を送信し、または他の者が受信可能な状態におく行為。<br />
(６) 法人向け有料サービスを利用した営利又は公共利用を目的とする行為。<br />
(７) 上記各号の他、法令、本会員規約または公序良俗に違反する行為、本サイトの運営を妨害する行為、運営者の信用を侵害し、または運営者の財産を侵害する行為、または他の者もしくは運営者に不利益を与える行為。<br /><br />

第１３条（一時的な中断）<br />
1. 運営者は、以下のいずれかの事由が生じた場合には、会員に事前に通知することなく、一時的に本サイトまたは各法人向け有料サービスを中断することがあります。<br />
(１) 本サイトまたは各法人向け有料サービス用設備等の保守を定期または緊急に行なう場合。<br />
(２) 火災や停電等により、本サイトまたは各法人向け有料サービスが提供できなくなった場合。<br />
(３) 地震、噴火、洪水、津波等の天災により、本サイトまたは各法人向け有料サービスが提供できなくなった場合。<br />
(４) 戦争、動乱、暴動、騒乱、労働争議等により、本サイトまたは各法人向け有料サービスが提供できなくなった場合。<br />
(５) その他、運用上または技術上、運営者が本サイトまたは各法人向け有料サービスの一時的な中断が必要と判断した場合。<br />
2. 運営者は、前項各号のいずれかに、またはその他の事由により本サイトまたは各法人向け有料サービスの提供の遅延または中断等が発生したとしても、これに起因する会員または他の者が被った損害について一切責任を負わないものとします。<br />
3. 運営者は、会員の了解なく本サイトまたは法人向け有料サービスを利用停止またはアクセス制限し、またその内容を変更することがあります。その場合においても運営者は会員または他の者が被った損害について一切責任を負わないものとします。<br /><br />

第１４条（会員の情報）<br />
1. 運営者は、会員の情報を、本サイトの運営以外の目的のために利用しないものとします。但し、以下の場合はこの限りではないものとします。<br />
(１) 会員に対し、運営者の広告宣伝のための電子メール等を送付する場合。<br />
(２) 会員の同意を得た場合。<br />
2. 運営者は、会員の情報を、本サイトの運営上必要な限度において、秘密保持契約を締結の上、法人向け有料サービスの提供者に提供することがあります。その他、以下の場合についても、必要な限度において会員の情報を第三者に提供することがあります。<br />
(１) 公共の利益の保護又は公権力により開示を求められ法的に開示を拒めない場合。<br />
(２) 会員の同意を得た場合。
3. 運営者は、会員の情報の属性を集計、分析を行い、新規サービスの展開、およびその検討等のために利用し、または参考にすることがあります。<br /><br />

第１５条（サービスの中止）<br />
1. 運営者は、以下のいずれかに該当する場合、本サイトまたは各法人向け有料サービスを中止し、すべての会員に対するサービスを終了できるものとします。<br />
(１) ３０日前までに会員に通知した場合。<br />
(２) 不可抗力により各法人向け有料サービスの提供が不可能になった場合。<br /><br />

第１６条（合意管轄）<br />
1. 会員と運営者の間で訴訟の必要が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。<br /><br />

第１７条（準拠法）<br />
1. 本会員規約に関する準拠法は、中国法律とします。<br />
                        
                    </div>
                </div>
                <img src="<{$public}>images/bottom.jpg"/>    
 			 </div>
            <div style="clear: both;"></div>
            <br/>
        </div>
         <{include file="foot.html"}>
        <div style="clear: both;"></div>
      </div>
    </div>
</div>
</body>
</html>
