<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会員規約
</title>
<link rel="stylesheet" type="text/css" href="<{$public}>Public/css/style.css"/>
<link rel="stylesheet" type="text/css" href="<{$public}>Public/css/login.css"/>
<link rel="stylesheet" type="text/css" href="<{$public}>Public/css/base.css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="<{$public}>js/vanadium.js"></script>
<script type="text/javascript" src="<{$public}>js/formvail.js"></script>

<style type="text/css">
#loginreg{
    height:auto;
}

#logincenter{
	background:url("<{$public}>images/center.jpg") repeat-y;
	width:900px;
padding:20px 30px;
}
#logincenter h1{
	font-size:20px;
	font-weight:bold;
}
#logincenter #content1{
	padding:15px 40px 40px 40px;
	width:820px;
}
</style>
</head>

<body>
<form method="post" action="/index.php">
<div id="con">
    <div id="content" style="background: #d7d7d7">

        <div style="width: 1038px;margin:0 auto; background: url(<{$public}>images/bs.jpg) repeat-y">
    	<div id="center"  style="background: #ffffff">
            <div id="head" style="width:1004px; height: 250px;padding-left: 4px;">
                <{include file="head.html"}>
            </div>
        	<div id="loginreg">
            <img src="<{$public}>images/top.jpg"/>
                <div id="logincenter">
                	<h1>
                   法人会員を申し込む
        </h1>
                    <br/>
                    <div id="content1" style="line-height:40px">
                      <p>法人会員を申し込み　　<br/>
                      </p>
                      <table width="100%" border="0">
                        <tr>
                          <td width="27%" style="text-align: right;padding-right:20px">お名前:</td>
                          <td width="73%"><input type="text" size="30" name="name"  id="name"  class=":required"  style="width:400px;height:30px"/></td>
                        </tr>
                        <tr>
                          <td style="text-align: right;padding-right:20px">会社名:</td>
                          <td><input type="text" size="30" id="company"  name="company"  class=":required"  style="width:400px;height:30px"/></td>
                        </tr>
                        <tr>
                          <td style="text-align: right;padding-right:20px">電話:</td>
                          <td><input type="text" size="30"  name="telephone" id="telephone"  class=":required :number"   style="width:400px;height:30px"/></td>
                        </tr>
                        <tr>
                          <td style="text-align: right;padding-right:20px">モバイル:</td>
                          <td><input type="text" size="30" name="mobile" id="mobile"  class=":required :number"   style="width:400px;height:30px"/></td>
                        </tr>
                        <tr>
                          <td style="text-align: right;padding-right:20px">メールアドレス：</td>
                          <td><input type="text" size="30"  id="email" name="email"  class=":required :email"  style="width:400px;height:30px"/></td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td><input type="checkbox"  value="1" name="read" id="read" />
                          <a href="/index.php?action=page&amp;return=treaty">会員規約</a>を同意します</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td><input type="submit" size="30"  style="width:150px;height:30px" value="申し込む"/></td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                      </table>

                    </div>
                </div>
                <img src="<{$public}>images/bottom.jpg"/>    
 			 </div>
            <div style="clear: both;"></div>
            <br/>
        </div>
         <{include file="foot.html"}>
        <div style="clear: both;"></div>
      </div>
    </div>
</div>
<input type="hidden" value="vip" name="action" id="action"/>
</form>
</body>
</html>
