<{include file="grape/header.html"}>
    <link type="text/css" rel="stylesheet" href="templates/grape/css/contact.css"> 
    
	<div class="top">
        	<div class="sp1"> 联系我们 Contct us</div>
            <div class="sp2"> 首页 >联系我们 >店铺地址</div>
    </div>
    
    <div class="left">
        	<img src="templates/grape/images/c_left.jpg" width="158" height="91" />
    </div>
	
	<div class="right">
        	<img src="templates/grape/images/contact.jpg" width="740" height="356" style="margin-bottom:-20px;" />
    </div>
	
	
	      <{include file="grape/footer.html"}>    	
</div>
</center>
</body>
</html>
	