<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link type="text/css" rel="stylesheet" href="/templates/newadmin/css/common.css" />
</head>

<body>
<div align="center">
	<{include file="newadmin/head.html"}>

	<div class="block">
    	<div class="left">
        	<{include file="newadmin/left.html"}>
        </div>
        
        <div class="right">
        	<div class="add"><a href="/admin.php?action=page&page=Add_News"><b>+ ニュースを追加するにはここをクリック</b></a></div>
            <div class="sousuo">
            	<input type="text" style="width:80px; height:18px; border:1px solid #999999; float:left; margin-top:15px; margin-left:10px;"/>
                <span style="width:20px; height:20px; float:left; margin-top:15px; margin-left:5px; margin-right:5px;line-height:20px; font-size:12px;">~</span>
            	<input type="text" style="width:80px; height:18px; border:1px solid #999999; float:left; margin-top:15px;"/>
                <select c style="width:80px; height:20px; border:1px solid #999999; float:left; margin-top:15px; margin-left:10px;">
					<option value="1">发布时间</option>
                	<option value="2">系统时间</option>
				</select>
                <select style="width:150px; height:20px; border:1px solid #999999; float:left; margin-top:15px; margin-left:10px;">
					<option value="1">请选择大类</option>
				</select>
                <select style="width:150px; height:20px; border:1px solid #999999; float:left; margin-top:15px; margin-left:10px;">
					<option value="1">请选择小类</option>
				</select>
                <select  style="width:120px; height:18px; border:1px solid #999999; float:left; margin-top:10px; margin-left:10px;clear:both">
					<option value="1">请选择首字母</option>
				</select>
    			<select  style="width:600px; height:18px; border:1px solid #999999; float:left; margin-top:10px; margin-left:10px;">
					<option value="1">请选择品牌</option>
				</select>
                 
                <input type="text" style="width:400px; height:18px; border:1px solid #999999; float:left; margin-top:10px; margin-left:10px;"/>
                <input type="submit" style="width:80px; height:20px; border:1px solid #999999; float:left; margin-top:10px; margin-left:10px; background:#e0e0e0" value="SEARCH" />
                 <span style="width:20px; height:20px; float:left; margin-top:10px; margin-left:20px; margin-right:5px;line-height:20px; font-size:12px;">ID:</span>
                <input type="text" style="width:80px; height:18px; border:1px solid #999999; float:left; margin-top:10px; "/>
            </div>
            <div style="margin-top:20px;">
            <table align="center"><tr><td>
			<div class="w936">   
  				<div id="tb_" class="tb_">   
   					<ul>   
      					<li id="tb_1" class="hovertab" >未訳中文</li>  
      					<a href="/admin.php?action=newslist1"><li id="tb_2" class="normaltab">訳済中文</li></a>    
      					<a href="/admin.php?action=newslist2"><li id="tb_3" class="normaltab" >訳済日文</li></a>   
      					<a href="/admin.php?action=newslist3"><li id="tb_4" class="normaltab" >新規記事</li></a>    
      					<a href="/admin.php?action=newslist4"><li id="tb_5" class="normaltab" >日本語全部</li></a>   
    				</ul>   
  				</div>   
  				<div class="ctt">   
    				<div class="dis" id="tbc_01">
                    	<div style="width:789px; height:40px; line-height:40px; color:#3333333; text-align:right;"><b><{$page1}></b></div>
                       
                    	<table width="100%" border="0"  style="border-bottom:1px solid #d6d6d6; border-top:1px solid #d6d6d6; background:#e8e7e7" cellpadding="0" cellspacing="0">
                          <tr>
                            <td height="30" align="center" width="7%">ID:</td>
                            <td align="center" width="46%">タイトル</td>
                            <td align="left" width="20%">分類</td>
                            <td align="left" width="10%">時間</td>
                            <td align="left" width="10%">システム時間</td>
                            <td align="center" width="7%">操作</td>
                          </tr>
						</table>
                        <div style="background:url(/templates/newadmin/bjjj.jpg) repeat-x">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <{section name=sec1 loop=$flist}>
                          <tr>
                            <td height="30" align="center" width="7%"><{$flist[sec1].n_id}></td>
                            <td align="left" width="46%"><{if $flist[sec1].n_title eq '' and $flist[sec1].n_curl neq ''}><div><a href="<{$flist[sec1].n_curl}>" target="<{$flist[sec1].n_curl}>"><{$flist[sec1].n_ctitle}></a></div>
            	<{elseif $flist[sec1].n_ctitle eq ''}><div><a href="/index.php?action=content&_p=<{$item.n_id}>&_c=<{$name}>" target="/index.php?action=content&_p=<{$item.n_id}>&_c=<{$name}>"><{$flist[sec1].n_title}></a></div>
            	<{elseif $flist[sec1].n_title eq '' and $flist[sec1].n_curl eq ''}><div><{$flist[sec1].n_ctitle}></div>
            	<{elseif $flist[sec1].n_title neq '' and $flist[sec1].n_ctitle neq ''}><div><a href="/index.php?action=content&_p=<{$item.n_id}>&_c=<{$name}>" target="/index.php?action=content&_p=<{$item.n_id}>&_c=<{$name}>"><{$flist[sec1].n_title}></a></div>
            <{/if}></td>
                            <td align="left" width="20%"><{if  $flist[sec1].n_site eq 'A'}>企業動向 Company & Brand
                    <{elseif  $flist[sec1].n_site eq 'B'}>業界最前線 Front	
                    <{elseif  $flist[sec1].n_site eq 'C'}>広告・販促 AD & SP	
                    <{elseif  $flist[sec1].n_site eq 'D'}>焦点 China Now
                    <{elseif  $flist[sec1].n_site eq 'E'}>レポート Report
                    <{elseif  $flist[sec1].n_site eq 'F'}>イベント Event
                    <{/if}></td>
                            <td align="left" width="10%"><{substr str=$flist[sec1].n_starttime end=10}></td>
                            <td align="left" width="10%"><{$flist[sec1].n_systime|date_format:"%Y/%m/%d"}></td>
                            <td align="center" width="7%"><div style="float:left"><a href="/admin.php?nid=<{$flist[sec1].n_id}>&action=newedit">编辑</a></div>
                            <div style="float:left;margin-left:5px;"><a href="javascript:new_del('<{$flist[sec1].n_id}>')">删除</a></div></td>
                          </tr>
						<{/section}>
                          
                          <tr>
                            <td height="60" colspan="6" align="center"><div style="float:right;"><{$page}></div></td>
                          </tr>
						</table>
                        </div>

                    </div>   
    				<div class="undis" id="tbc_02">
                    	
                    </div>   
    				<div class="undis" id="tbc_03">
                    	
                    </div>   
    				<div class="undis" id="tbc_04">
                    	
                    </div>   
    				<div class="undis" id="tbc_05">
                    	
                    </div>      
  				</div>   
			</div>  
			</td></tr></table> 
            </div>
        </div>
	</div>
</div>
</body>
</html>
<script type="text/javascript" language="javascript">   
//<!CDATA[   
function g(o){return document.getElementById(o);}   
function HoverLi(n){   
//如果有N个标签,就将i<=N;   
for(var i=1;i<=5;i++){g('tb_'+i).className='normaltab';g('tbc_0'+i).className='undis';}g('tbc_0'+n).className='dis';g('tb_'+n).className='hovertab';   
}   
//如果要做成点击后再转到请将<li>中的onmouseover 改成 onclick;   
//]]>   
</script> 
<script type="text/javascript">
    function  new_del(id){
        if(confirm("确定要删除该数据？删除后数据并无法恢复！")){
        $.ajax({
           type: "POST",
           url: "/admin.php",
           data: "action=ajaxremove&nid="+id,
           success: function(msg){
               //alert(msg);
            window.location.reload();
           }
        });
      }
    }
</script>