<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link type="text/css" rel="stylesheet" href="/templates/newadmin/css/common.css" />
<link type="text/css" rel="stylesheet" href="/templates/newadmin/css/add.css" />

<script type="text/javascript" src="<{$calendar}>jquery-1.4.3.js"></script>
<script type="text/javascript" src="<{$calendar}>Js/calendar.js"></script>
<link type="text/css" rel="stylesheet" href="<{$calendar}>Css/calendar.css" />
</head>

<body>
<div align="center">
	<{include file="newadmin/head.html"}>

	<div class="block">
    	<div class="left">
        	<{include file="newadmin/left.html"}>
        </div>
        
        <div class="right">
        	<div class="guide"><b><a href="admin.php?action=Contact_List">客户管理</a> > <font color="#e50000">新增客户</font></b></div>
        	<div class="table_new">
        	<form id="contact" action="/admin.php?action=Contact_List" method="post">
        	  <table width="780" height="auto" border="0"  cellpadding="0" cellspacing="0" style="margin:50px 0px 0px 0px;">		
	        	  <tr valign="top">
	        	      <td height="50" align="right"><img src="/templates/newadmin/image/c1.jpg" width="120" height="25" /></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; ">
	                  	<div style="float:left; width:20%;_margin-left:-25px;"><input type="radio" name="c_class" value="1" >资料请求</div>
						<div style="float:left; width:20%;_margin-left:-25px;"><input type="radio" name="c_class" value="2" checked="checked">代理商加盟</div>
						<div style="float:left; width:20%;_margin-left:-25px;"><input type="radio" name="c_class" value="3" >投诉建议</div>
						<div style="float:left; width:20%"><input type="radio" name="c_class" value="4" >其它</div>
	                  </td>
	      	      </tr>
	        	  <tr valign="top">
	        	      <td height="50" align="right"><img src="/templates/newadmin/image/c2.jpg" width="120" height="25" /></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "><input id="c_area" name="c_area" style="width: 150px; font-weight: bold;" type="text" ></td>
	      	      </tr>
				  
				  <tr valign="top">
	        	      <td height="50" align="right"><img src="/templates/newadmin/image/c3.jpg" width="120" height="25" /></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "><input id="c_name" name="c_name" style="width: 150px; font-weight: bold;" type="text" ></td>
	      	      </tr>
				  
				  <tr valign="top">
	        	      <td height="50" align="right"><img src="/templates/newadmin/image/c4.jpg" alt="" width="120" height="25" /></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "><input id="c_company" name="c_company" style="width: 250px; font-weight: bold;" type="text"></td>
	      	      </tr>
				  
				  <tr valign="top">
	        	      <td height="50" align="right"><img src="/templates/newadmin/image/c5.jpg" alt="" width="120" height="25" /></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "><input id="c_url" name="c_url" style="width: 250px; font-weight: bold;" type="text"></td>
	      	      </tr>

				  <tr valign="top">
	        	      <td height="50" align="right"><img src="/templates/newadmin/image/c6.jpg" alt="" width="120" height="25" /></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "><input id="c_phone" name="c_phone" style="width: 150px; font-weight: bold;" type="text"></td>
	      	      </tr>
				  <tr valign="top">
	        	      <td height="50" align="right"><img src="/templates/newadmin/image/c7.jpg" alt="" width="120" height="25" /></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "><input id="c_call" name="c_call" style="width: 150px; font-weight: bold;" type="text"></td>
	      	      </tr>
				  <tr valign="top">
	        	      <td height="50" align="right"><img src="/templates/newadmin/image/c8.jpg" alt="" width="120" height="25" /></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "><input id="c_fax" name="c_fax" style="width: 150px; font-weight: bold;" type="text"></td>
	      	      </tr>
				  <tr valign="top">
	        	      <td height="50" align="right"><img src="/templates/newadmin/image/c9.jpg" alt="" width="120" height="25" /></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "><input id="c_email" name="c_email" style="width: 150px; font-weight: bold;" type="text"></td>
	      	      </tr>
				  <tr valign="top">
	        	      <td height="50" align="right"><img src="/templates/newadmin/image/c10.jpg" alt="" width="120" height="25" /></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "><div style="_margin-left:-25px;"><{$fck}></div></td>
	      	      </tr>
				  <tr valign="top">
	        	      <td height="30" align="right"></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "></td>
	      	      </tr>
				  
	        	  
	      	      <tr valign="top">
	        	      <td height="30" align="right"></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "></td>	
	      	      </tr>
	        	 
	        	  <tr valign="top">
	        	      <td height="50" align="right"></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "></td>
	      	      </tr>
				  
	        	  <tr valign="top">
	        	      <td height="50" align="right">&nbsp;</td>
	        	      <td align="left" style="font-size:12px;text-indent:2em;">
	        	      	<input name="sub" id="sub"  value="" title="提交" type="submit" style="background:url(/templates/newadmin/image/button.jpg);width:150px;height:29px;border:none;"  onmouseover="this.style.cursor='pointer'">
	        	      </td>
	      	      </tr>
	              <tr>
	        	      <td height="50" align="right"></td>
	        	      <td style="font-size:12px;text-indent:2em; " align="left"></td>
	      	      </tr>
      	    </table>
      	    <input type="hidden" name="action" id="action" value="addContact" /></form>
        	</div>
            
        </div>
	</div>
</div>
</body>
</html>
<script type="text/javascript" src="<{$public}>js/select.js">
</script>
<script type="text/javascript" src="<{$public}>js/select1.js">	
</script>
<script>  
     //chooseOne()函式，參數為觸發該函式的元素本身  
     function chooseOne(cb){  
    	 $("#stype").html('');
         //先取得同name的chekcBox的集合物件  
       var obj = document.getElementsByName("n_class[]");  
         for (i=0; i<obj.length; i++){  
             //判斷obj集合中的i元素是否為cb，若否則表示未被點選  
		      if (obj[i].checked)
		        {
		    	  $.ajax({
		    		   type: "GET",
		    		   url: "/admin.php",
		    		   data: "action=loadcheckTypenews&cid="+ obj[i].value,
		    		  success: function(html){
		    		    $("#stype").append(html);
		    		  }
		    		});
		        }
         }  
     }  
 </script>  