<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link type="text/css" rel="stylesheet" href="/templates/newadmin/css/common.css" />
<link type="text/css" rel="stylesheet" href="/templates/newadmin/css/add.css" />

<script type="text/javascript" src="<{$calendar}>jquery-1.4.3.js"></script>
<script type="text/javascript" src="<{$calendar}>Js/calendar.js"></script>
<link type="text/css" rel="stylesheet" href="<{$calendar}>Css/calendar.css" />
</head>

<body>
<div align="center">
	<{include file="newadmin/head.html"}>

	<div class="block">
    	<div class="left">
        	<{include file="newadmin/left.html"}>
        </div>
        
        <div class="right">
        	<div class="guide"><b><a href="admin.php?action=index">首页</a> > <a href="/admin.php?action=Xinwen_List">新闻管理</a> > <font color="#e50000">编辑新闻</font></b></div>
        	<div class="table_new">
        	<form id="xinwen" action="/admin.php" method="post" enctype="multipart/form-data">
        	  <table width="780" height="auto" border="0"  cellpadding="0" cellspacing="0" style="margin:50px 0px 0px 0px;">
	        	  <tr valign="top">
	        	      <td height="50" align="right"><img src="/templates/newadmin/image/xtit.jpg" width="120" height="25" /></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "><input id="x_title" name="x_title" value="<{$xinwen[0].x_title}>" style="width: 450px; font-weight: bold;" type="text"></td>
	      	      </tr>
	        	  <tr valign="top">
	        	      <td height="50" align="right"><img src="/templates/newadmin/image/xstart.jpg" width="120" height="25" /></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "><input id="x_starttime" name="x_starttime" style="width: 150px; font-weight: bold;" type="text" value="<{$xinwen[0].x_starttime}>" onClick="displayCalendar(this, 'yyyy-mm-dd hh:ii', this, true, '');"></td>
	      	      </tr>
				  
				  <tr valign="top">
	        	      <td height="50" align="right"><img src="/templates/newadmin/image/xact.jpg" width="120" height="25" /></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "><input id="x_acttime" name="x_acttime" style="width: 150px; font-weight: bold;" type="text" value="<{$xinwen[0].x_acttime}>"onClick="displayCalendar(this, 'yyyy-mm-dd hh:ii', this, true, '');"></td>
	      	      </tr>
				  
				  <tr valign="top">
	        	      <td height="50" align="right"><img src="/templates/newadmin/image/x_pic.jpg" alt="" width="120" height="25" /></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "><input id="xinwenimage" name="xinwenimage" style="width: 250px; font-weight: bold;" type="file">50*50
					   <{if $xinwen[0].x_pic neq ''}><img src="include/Public/Xinwen/<{$xinwen[0].x_pic}>" width="50" height="50"/>
					  <{elseif $xinwen[0].x_pic eq ''}><img src="include/Public/Xinwen/none.jpg" width="50" height="50"/>
					  <{/if}>
					  </td>
	      	      </tr>

				  <tr valign="top">
	        	      <td height="50" align="right"><img src="/templates/newadmin/image/xcla.jpg" alt="" width="120" height="25" /></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "><input id="x_type" name="x_type" style="width: 150px; font-weight: bold;" value="<{$xinwen[0].x_type}>" type="text"></td>
	      	      </tr>

				  <tr valign="top">
	        	      <td height="50" align="right"><img src="/templates/newadmin/image/xcon.jpg" alt="" width="120" height="25" /></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "><div style="_margin-left:-25px;"><{$fck}></div></td>
	      	      </tr>
				  <tr valign="top">
	        	      <td height="30" align="right"></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "></td>
	      	      </tr>
				  <tr valign="top">
	        	      <td height="50" align="right"><img src="/templates/newadmin/image/xkey.jpg" alt="" width="120" height="25" /></td>
	        	      <td align="left" style="font-size:12px;text-indent:2em; "><input id="x_keyword" name="x_keyword"  style="width: 450px; font-weight: bold;" value="<{$xinwen[0].x_keyword}>" type="text"></td>
	      	      </tr>

	      	      <tr>
	        	      <td height="50" align="right"></td>
	        	      <td style="font-size:12px;text-indent:2em; " align="left"></td>
	      	      </tr>
	        	  <tr valign="top">
	        	      <td height="50" align="right">&nbsp;</td>
	        	      <td align="left" style="font-size:12px;text-indent:2em;">
	        	      	<input name="sub" id="sub"  value="" title="提交" type="submit" style="background:url(/templates/newadmin/image/button.jpg);width:150px;height:29px;border:none;"  onmouseover="this.style.cursor='pointer'">
	        	      </td>
	      	      </tr>
	              <tr>
	        	      <td height="50" align="right"></td>
	        	      <td style="font-size:12px;text-indent:2em; " align="left"></td>
	      	      </tr>
      	    </table>
      	    <input type="hidden" name="x_id" id="x_id" value="<{$xinwen[0].x_id}>">
			<input type="hidden" name="action" id="action" value="updateXinwen" />
			</form>
        	</div>
        </div>
	</div>
</div>
</body>
</html>
</html>