<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>
<style>
body{
 font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","ＭＳ Ｐゴシック",sans-serif;
}
a{ text-decoration:none; color:#333333; cursor:pointer;}
a:hover{ text-decoration:none; color:#d00010;}
img{ border:none;}
</style>
<body>
<table align="center" style="margin-top:-40px;">
<tr>
<td>
    <div style="width:1003px;height:100%; overflow:hidden;" align="center" >
    	<div style="width:200px; height:100%;;overflow:hidden; float:left;">
			<img src="/templates/newadmin/image/left_01.jpg" width="200" height="150" style="float:left;"/>
            <img src="/templates/newadmin/image/left_02.jpg" width="200" height="150" style="float:left;"/>
            <img src="/templates/newadmin/image/left_03.jpg" width="200" height="150" style="float:left;"/>
            <img src="/templates/newadmin/image/left_04.jpg" width="200" height="150" style="float:left;"/>
        </div>
        
        <div style="width:803px; height:auto;overflow:hidden; float:left;">
                <div style="width:150px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
                    <div style="width:150px; height:100px;">
                        <a onmouseover="change(1)" href="/admin.php?action=newslist">
                        	<div id="imga_1"><img src="/templates/newadmin/image/right_01.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        	<div id="imgb_1" style="display:none;" onmouseout="gaibian(1)"><img src="/templates/newadmin/image/pright_01.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        </a>
                        <span style="color:#ff7101;width:150px; height:30px; font-size:12px; line-height:30px; float:left;"><b>記事 News</b></span>
                    </div>
                </div>
                <div style="width:150px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
                    <div style="width:150px; height:100px;">
                        <a onmouseover="change(2)" href="/admin.php?action=Brand_List">
                        	<div id="imga_2"><img src="/templates/newadmin/image/right_02.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        	<div id="imgb_2" style="display:none;" onmouseout="gaibian(2)"><img src="/templates/newadmin/image/pright_02.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        </a>
                        <span style="color:#ff7101;width:150px; height:30px; font-size:12px; line-height:30px; float:left;"><b>ブランド Brand</b></span>
                    </div>
                </div>
                <div style="width:150px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
                    <div style="width:150px; height:100px;">
                        <a onmouseover="change(3)" href="/admin.php?action=Human_List">
                        	<div id="imga_3"><img src="/templates/newadmin/image/right_03.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        	<div id="imgb_3" style="display:none;" onmouseout="gaibian(3)"><img src="/templates/newadmin/image/pright_03.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        </a>
                        <span style="color:#ff7101;width:150px; height:30px; font-size:12px; line-height:30px; float:left;"><b>人物 People</b></span>
                    </div>
                </div>
                <div style="width:150px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
                    <div style="width:150px; height:100px;">
                        <a onmouseover="change(4)" href="/admin.php?action=District_List">
                        	<div id="imga_4"><img src="/templates/newadmin/image/right_04.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        	<div id="imgb_4" style="display:none;" onmouseout="gaibian(4)"><img src="/templates/newadmin/image/pright_04.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        </a>
                        <span style="color:#ff7101;width:150px; height:30px; font-size:12px; line-height:30px; float:left;"><b>商圏 District</b></span>
                    </div>
                </div>
            <div style="width:200px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
            	
            </div>
            
            
            
            
            <div style="width:150px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
                <div style="width:150px; height:100px;">
                    <a onmouseover="change(5)" href="/admin.php?action=classlist">
                        <div id="imga_5"><img src="/templates/newadmin/image/right_05.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        <div id="imgb_5" style="display:none;" onmouseout="gaibian(5)"><img src="/templates/newadmin/image/pright_05.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                    </a>
                    <span style="color:#ff7101;width:150px; height:30px; font-size:12px; line-height:30px; float:left;"><b>業界 Trade</b></span>
                </div>
            </div>
            <div style="width:150px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
            	<div style="width:150px; height:100px;">
            		<a onmouseover="change(6)" href="/admin.php?action=Country_List">
                        <div id="imga_6"><img src="/templates/newadmin/image/right_06.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        <div id="imgb_6" style="display:none;" onmouseout="gaibian(6)"><img src="/templates/newadmin/image/pright_06.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                    </a>
                    <span style="color:#ff7101;width:150px; height:30px; font-size:12px; line-height:30px; float:left;"><b>国家 Contry</b></span>
                </div>
            </div>
            <div style="width:150px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
            	<div style="width:150px; height:100px;">
            		<a onmouseover="change(7)" href="/admin.php?action=Traffic_List">
                        <div id="imga_7"><img src="/templates/newadmin/image/right_07.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        <div id="imgb_7" style="display:none;" onmouseout="gaibian(7)"><img src="/templates/newadmin/image/pright_07.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                    </a>
                    <span style="color:#ff7101;width:150px; height:30px; font-size:12px; line-height:30px; float:left;"><b>交通 Traffic</b></span>
                </div>
            </div>
            <div style="width:150px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
            	<div style="width:150px; height:100px;">
            		<a onmouseover="change(8)" href="/admin.php?action=Mall_List">
                        <div id="imga_8"><img src="/templates/newadmin/image/right_08.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        <div id="imgb_8" style="display:none;" onmouseout="gaibian(8)"><img src="/templates/newadmin/image/pright_08.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                    </a>
                    <span style="color:#ff7101;width:150px; height:30px; font-size:12px; line-height:30px; float:left;"><b>施設 Mall</b></span>
                </div>
            </div>
            <div style="width:150px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
            	<div style="width:150px; height:100px;">
            		<a onmouseover="change(9)" href="/admin.php?action=Media_List">
                        <div id="imga_9"><img src="/templates/newadmin/image/right_09.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        <div id="imgb_9" style="display:none;" onmouseout="gaibian(9)"><img src="/templates/newadmin/image/pright_09.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                    </a>
                    <span style="color:#ff7101;width:150px; height:30px; font-size:12px; line-height:30px; float:left;"><b>媒体 Media</b></span>
                </div>
            </div>
            
            <div style="width:50px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
            	
            </div>
            
            
            
            <div style="width:150px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
            	<div style="width:150px; height:100px;">
            		<a onmouseover="change(10)" href="/admin.php?action=Js_List">
                        <div id="imga_10"><img src="/templates/newadmin/image/right_10.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        <div id="imgb_10" style="display:none;" onmouseout="gaibian(10)"><img src="/templates/newadmin/image/pright_10.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                    </a>
                    <span style="color:#ff7101;width:150px; height:30px; font-size:12px; line-height:30px; float:left;"><b>トップ Top</b></span>
                </div>
            </div>
            <div style="width:150px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
            	<div style="width:150px; height:100px;">
            		<a onmouseover="change(11)" href="/admin.php?action=Hotkeyword_List">
                        <div id="imga_11"><img src="/templates/newadmin/image/right_11.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        <div id="imgb_11" style="display:none;" onmouseout="gaibian(11)"><img src="/templates/newadmin/image/pright_11.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                    </a>
                    <span style="color:#ff7101;width:150px; height:30px; font-size:12px; line-height:30px; float:left;"><b>Hot Keyword</b></span>
                </div>
            </div>
            <div style="width:150px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
            	<div style="width:150px; height:100px;">
            		<a onmouseover="change(12)">
                        <div id="imga_12"><img src="/templates/newadmin/image/right_12.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        <div id="imgb_12" style="display:none;" onmouseout="gaibian(12)"><img src="/templates/newadmin/image/pright_12.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                    </a>
                    <span style="color:#ff7101;width:150px; height:30px; font-size:12px; line-height:30px; float:left;"><b>公告 Whats New</b></span>
                </div>
            </div>
            <div style="width:350px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
            	
            </div>
            
            
            
             
            <div style="width:150px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
            	<div style="width:150px; height:100px;">
            		<a onmouseover="change(13)">
                        <div id="imga_13"><img src="/templates/newadmin/image/right_13.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        <div id="imgb_13" style="display:none;" onmouseout="gaibian(13)"><img src="/templates/newadmin/image/pright_13.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                    </a>
                    <span style="color:#ff7101;width:150px; height:30px; font-size:12px; line-height:30px; float:left;"><b>ユーザー　User</b></span>
                </div>
            </div>
             
            <div style="width:150px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
            	<div style="width:150px; height:100px;">
            		<a onmouseover="change(14)">
                        <div id="imga_14"><img src="/templates/newadmin/image/right_14.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                        <div id="imgb_14" style="display:none;" onmouseout="gaibian(14)"><img src="/templates/newadmin/image/pright_14.jpg" width="52" height="53" style="float:left; margin-top:35px;margin-left:47px;"/></div>
                    </a>
                    <span style="color:#ff7101;width:150px; height:30px; font-size:12px; line-height:30px; float:left;"><b>編集者　Editor</b></span>
                </div>
            </div>
            <div style="width:500px; height:150px;overflow:hidden; float:left; background:url(/templates/newadmin/image/bj_01.jpg) repeat-x;">
            	
            </div>
            
        </div>
    	
    </div>

</td>
</tr>
</table>
</body>
</html>
<script>
function change(i)
{
	document.getElementById('imga_'+i).style.display="none";
	document.getElementById('imgb_'+i).style.display="";
}
function gaibian(i)
{
	document.getElementById('imga_'+i).style.display="";
	document.getElementById('imgb_'+i).style.display="none";
}
</script>