<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link type="text/css" rel="stylesheet" href="/templates/newadmin/css/common.css" />
</head>

<body>
        	<div style="widht:188px;height:auto;overflow:hidden;">
        		<div class="biaoti1"><b>产品管理</b></div>
                <div class="biaoti2"><a href="/admin.php?action=Wine_List">产品列表</a></div>
                <div class="biaoti3"><a href="/admin.php?action=page&page=Add_Wine">添加产品</a></div>
            </div>
			<div style="widht:188px;height:auto;overflow:hidden;">
        		<div class="biaoti1"><b>新闻管理</b></div>
                <div class="biaoti2"><a href="/admin.php?action=Xinwen_List">新闻列表</a></div>
                <div class="biaoti3"><a href="/admin.php?action=page&page=Add_Xinwen">添加新闻</a></div>
            </div>
			<div style="widht:188px;height:auto;overflow:hidden;">
        		<div class="biaoti1"><b>客户管理</b></div>
                <div class="biaoti2"><a href="/admin.php?action=Contact_List">客户列表</a></div>
                <div class="biaoti3"><a href="/admin.php?action=page&page=Add_Contact">新客户</a></div>
            </div>

</body>
</html>
