* {	margin:0px;
	padding:0px;
}

BODY {

		
}
#header {
	MARGIN: 0px auto; WIDTH: 918px; padding:20px 0px 0px 0px;
}
.header_top_p {
	FLOAT: right; COLOR: #ffffff; TEXT-DECORATION: none
}
.header_top_p:hover {
	TEXT-DECORATION: underline
}
.header_top {
	PADDING:5px 10px 0px 0px; HEIGHT: 31px
}
.clear {
	CLEAR: both
}
.logo {
	FLOAT: left; WIDTH: 600px; PADDING-TOP:0px
}
.header_bottom {
	HEIGHT: 90px
}
.logo_right {
	PADDING: 50px 0px 0px 200px; FLOAT: left; WIDTH: 100px;  
}
.nav {
	HEIGHT: 33px;
	background:url(nav_bg.gif) no-repeat;
	table-layout:auto
}
ul { list-style-type:none}
.nav_ul {
	 WIDTH: 918px; HEIGHT: 33px;
}
.nav_ul LI {
	FLOAT: left; TEXT-ALIGN: center;
}
.nav_ul LI A {
	DISPLAY: block; FONT-SIZE: 12px; WIDTH: 153px; COLOR: #ffffff; PADDING-TOP: 8px; HEIGHT: 23px; TEXT-DECORATION: none
}
.nav_ul LI A:hover {
	BACKGROUND: url(image/nav_hover.jpg) no-repeat; WIDTH: 153px; COLOR: #e7ff20; HEIGHT: 25px
}
#info {
    WIDTH: 918px; position: relative; margin:0px auto;
}
.main {
	WIDTH: 918px; margin-top:5px; position:relative;padding:0px 0px 50px 0px; overflow:auto;
}
.main_left {
	BORDER-RIGHT: #DCDCDC 1px solid; FLOAT: left; WIDTH: 593px; 
}
.main_left_title,.main_right_title {
	WIDTH: 568px;  HEIGHT: 26px; BACKGROUND-COLOR: #00BFFF;
}

.title_p {
	COLOR: #ffffff;
    padding:5px;
	margin:0px;

}
.main_left_Middle {
	WIDTH: 568px;
}
.left_Middle_img {
	FLOAT: left; WIDTH: 230px; HEIGHT: 192px; margin:2px;padding:4px;
}
.left_Middle_text {
	FLOAT: left; WIDTH: 330px
}

.info_p {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 24px; text-indent: 25px; word-space:pre-line;
}
.main_right {
	PADDING-LEFT: 16px; FLOAT: left; WIDTH: 308px ;
}
.main_right_title {
	WIDTH: 308px
}
.right_title_text {
	FLOAT: left;
}
.More {
	FLOAT: left
}
.More_link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.More_link:hover {
	TEXT-DECORATION: underline
}

.right_Middle_ul LI {
	PADDING:20px 0px 0px 15px; DISPLAY: block; WIDTH: 250px;HEIGHT: 45px; font-size:12px; font-weight:bold;
}
.right_Middle_ul LI A {
	COLOR: #333333; TEXT-DECORATION: none
}
.right_Middle_ul LI A:hover {
	TEXT-DECORATION: underline
}


.Link {
	COLOR: #333333; TEXT-DECORATION: none
}
.Link:hover {
	TEXT-DECORATION: underline
}
.footer_logo {
	PADDING-LEFT: 150px
}
.Manager_left {
	FLOAT: left; WIDTH: 230px
}
.Manager_left_title {
	WIDTH: 200px
}
.Left_List01 {
	PADDING:10px 0px 0px 20px;BACKGROUND: url(image/left_list_bg.jpg) no-repeat;  WIDTH: 190px;  HEIGHT: 18px
}
.Left_List_Link {
	PADDING-LEFT: 10px; FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none
}
.Left_List_Link:hover {
	TEXT-DECORATION: underline
}
.Manager_right {
	FLOAT: left; WIDTH: 688px
}
.Manager_right_title {
	BORDER-BOTTOM: #868974 1px solid
}
.Manager_right_Info01 {
	MARGIN-TOP: 20px; HEIGHT: 200px
}
.Manager_info01_img {
	FLOAT: left
}
.Manager_info01_text {
	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 400px
}
.Case_text {
	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 400px
}
.About_text {
	PADDING-LEFT: 10px; WIDTH: 640px; PADDING-TOP: 10px
}
.Case_text {
	WIDTH: 450px
}
.case_right_Info01 {
	MARGIN-TOP: 15px; HEIGHT: 120px
}
.desgin_flash {
	PADDING-LEFT: 50px
}
.flash_boder {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; WIDTH: 590px; BORDER-BOTTOM: #ffffff 1px solid
}
.Feedback {
	PADDING-RIGHT: 0px; PADDING-LEFT: 100px; PADDING-BOTTOM: 0px; WIDTH: 400px; PADDING-TOP: 10px
}
.Feedback #textfield02 {
	BORDER-RIGHT: #868974 1px solid; BORDER-TOP: #868974 1px solid; MARGIN-LEFT: 10px; BORDER-LEFT: #868974 1px solid; WIDTH: 300px; BORDER-BOTTOM: #868974 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #cbceb9
}
#textArea {
	WIDTH: 300px; HEIGHT: 100px; BACKGROUND-COLOR: #cbceb9
}
.FeedbackButton {
	MARGIN-TOP: 10px; MARGIN-LEFT: 230px
}
#button {
	WIDTH: 80px; HEIGHT: 25px
}
.algin_right {
	text-align: right;
}
.font-weighter{
	font-weight:bolder
}
#footer {
	clear:both; WIDTH: auto;HEIGHT:80px; text-align:center; background-color: #09F;  margin-bottom:0x;
	 

}

