<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link href="/templates/Content/regiester/style.css" rel="stylesheet" type="text/css">
   
<title>用户编辑</title>
</head>
<body style="text-align: left">
<br/><br/>

<form id="news" action="/admin.php?action=updateguest" method="post" enctype="multipart/form-data">
<table class="cont-tab" width="800px" style="table-layout: fixed;"
	cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td class="td1">用户名：<span class="nes">*</span></td>
			<td class="td2"><input id="u_uname" name="u_uname"
				class="inp ipt-normal" style="width: 450px; font-weight: bold;" value="<{$guest[0].u_uname}>"
				 type="text"  ></td>
		</tr>
        <tr>
			<td class="td1">新密码：<span class="nes">*</span></td>
			<td class="td2"><input id="u_pwd" name="u_pwd"
				class="inp ipt-normal" style="width: 250px; font-weight: bold;"
				 type="password" > </td>
		</tr>
               <tr>
			<td class="td1">新密码：<span class="nes">*</span></td>
			<td class="td2"><input id="u_pwd2" name="u_pwd2"
				class="inp ipt-normal" style="width: 250px; font-weight: bold;"
				 type="password" > </td>
		</tr>
         <tr>
			<td class="td1">邮箱：<span class="nes">*</span></td>
			<td class="td2">
            <input id="u_email" name="u_email"
				class="inp ipt-normal" style="width: 250px; font-weight: bold;"
				 type="text"  value="<{$guest[0].u_email}>">
            </td>
		</tr>
        <tr>
			<td class="td1">手机：<span class="nes">*</span></td>
			<td class="td2" id="stype">
            <input id="u_phone" name="u_phone"
				class="inp ipt-normal" style="width: 250px; font-weight: bold;"
				 type="text" value="<{$guest[0].u_phone}>">
           </td>
		</tr>
		<tr style="background-color: #ebebeb">
			<td class="td1">会员级别：</td>
			<td class="td2">
                <input type="radio" name="u_level" value="1" <{if $guest[0].u_level eq 1}> checked <{/if}> >普通会员 &nbsp;&nbsp; <input type="radio"  <{if $guest[0].u_level eq 2}> checked <{/if}> name="u_level" value="2">VIP
            </td>
		</tr>
		<tr>
			<td class="td1">状态：<span class="nes">*</span></td>
			<td class="td2"><select id="u_status" name="u_status"
				class="inp ipt-normal" style="width: 250px; font-weight: bold;">
                <option value="<{$guest[0].u_status}>"><{if $guest[0].u_status eq 1}>开通<{else}>禁用<{/if}></option>
				<option value="1">开通</option>
				<option value="2">禁用</option>
			</select></td>
		</tr>
		<tr>
			<td class="td1">&nbsp;</td>
			<td class="td2"><input
				style="background-position: -249px -219px" name="sub" id="sub"
				class="btn-submit" value="" title="提交" type="submit"></td>
		</tr>
	</tbody>
</table>
<input type="hidden" name="u_id" id="u_id" value="<{$guest[0].u_id}>">
</form>
</body>
</html>